.my-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
    padding: 1rem;
}

.my-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.my-form input {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid mediumpurple;
    width: 20rem;
    max-width: 100%;
    border: 0;
}

.my-form input:focus {
    border: none;
}

.my-button {
    text-align: right;
}

.my-button button {
    border: none;
    padding: 10px 20px;
    background-color: purple;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}